@media screen and (max-width: 1200px) {
	.index {
	  &-wrapper__containers {
	    .containers-item {
	      // height: auto;

	      .chart-left {
	        width: 80%;
	      }
	    }
	    .containers-left {
	      width: 90%;
	      margin: 0 auto;
	      float: none;
	    }
	    .containers-right {
	      width: 90%;
	      margin: 0 auto;
	      float: none;

	      .containers-item {
	        width: 50%;

	        &:nth-of-type(2n) {
	          margin-left: 10px;
	          width: calc(50% - 15px);
	        }
	        &__box {
	          padding: 20px;

	          p {
	            width: calc(100% - 200px);
	            font-size: 16px;
	          }
	        }
	      }
	    }
	  }
	  .index-service {
	    ul {
	      li {
	        height: 350px;
	        a {
	          div {
	            img {
	              top: 100px;
	            }
	            h4 {
	              top: 185px;
	              font-size: 20px;
	            }
	          }
	          &:hover {
	            div {
	              span {
	                bottom: 40px;
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	}
}
@media screen and (max-width: 1024px) {
	.header {
		&-top {
			width: calc(100% - 20px);
			padding: 0 10px;
		}
	}
}
@media screen and (max-width: 960px) {
  .header {
  	height: 88px;
    &-top {
      h1 {
        font-size: 24px;
      }
      &__right {
	    	display: none;
	    }
    }
    &-menu {
    	display: block;
    }
    &-nav {
      display: none;
    }
  }
  .index {
  	padding-top: 88px;

  	&-wrapper__containers {
  		.containers-item {
  			h4 {
  				font-size: 26px;
  			}
  		}
  		.containers-right {
  			.containers-item {
  				&__box {
	          padding: 20px;
	          p {
	            width: calc(100% - 200px);
	            font-size: 14px;
	            line-height: 24px;
	          }
	        }
  			}
        
      }
  	}
  	&-service {
      ul {
        li {
          a {
            div {
              img {
                top: 80px;
              }
              h4 {
                top: 165px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
	.index {
	  &-wrapper__containers {
	  	.containers-item {
	      height: auto;
	    }
	  	.containers-right {
	      width: 90%;
	      margin: 0 auto;
	      float: none;

	      .containers-item {
	        width: 100%;

	        &:nth-of-type(2n) {
	          margin-left: 0;
	          width: 100%;
	        }
	        &__box {
	          padding: 20px;
	          p {
	            width: calc(100% - 200px);
	            font-size: 16px;
	          }
	        }
	      }
	    }
	  }
	  .index-service {
	    ul {
	      li {
	        height: 250px;
	        a {
	          div {
	            img {
	              top: 50px;
	            }
	            h4 {
	              top: 125px;
	              font-size: 18px;
	            }
	            p {
	            	display: none;
	            }
	          }
	          &:hover {
	            div {
	              span {
	                bottom: 40px;
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	  .index-cases {
	  	ul {
	  		li {
	  			padding-bottom: 50px;
	  			p {
	  				font-size: 13px;
	  			}
	  		}
	  	}
	  }
	}
}

@media screen and (max-width: 650px) {
	.index {
		&-service {
	    ul {
	      li {
	        height: 200px;
	        a {
	          div {
	            img {
	            	width: 50px;
	            	height: 43px;
	              top: 35px;
	            }
	            h4 {
	              top: 115px;
	              font-size: 16px;
	            }
	            p {
	            	display: none;
	            }
	          }
	          &:hover {
	            div {
	              span {
	                bottom: 40px;
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	 	&-cases {
	 		ul {
	 			display: block;
	 			li {
	 				width: 80%;
	 				margin: 0 auto 20px;
	 				padding-bottom: 20px;

	 			}
	 		}
	 	}
	}
	.footer {
		&-link {
			.link-list a {
				padding-right: 20px;
			}
		}
		.nav-list {
			display: none;
		}
		.footer-info {
			p {
				text-align: center;
			}
		}
		.footer-service {
			ul {
				float: none;
				margin: 0 auto;

				li {
					height: 30px;
					a {
						height: 30px;
						line-height: 30px;
						padding-left: 40px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 520px) {
	.index {
		&-wrapper {
			padding: 50px 0;
		}
	}
	.footer {
		&-link {
			display: none;
		}
	}
}
@media screen and (max-width: 414px) {
	.index  {
		&-wrapper__title {
			p {
				width: 90%;
				margin: 30px auto 0;
			}
		}
		&-wrapper__containers .containers-right .containers-item  {
			h4 {
				margin: 30px 0 10px;
				text-align: center;
			}
			.containers-item__box p {
				width: 100%;
				font-size: 14px;
				max-height: 265px;
				overflow: hidden;
				float: none;
			}
			.chart-right {
				float: none;
				margin: -20px auto 0;
			}
		}
		.index-service {
	    ul {
	      li {
	        height: 150px;
	        a {
	          div {
	            img {
	            	width: 40px;
	            	height: 34px;
	              top: 35px;
	            }
	            h4 {
	              top: 100px;
	              font-size: 14px;
	            }
	            p {
	            	display: none;
	            }
	          }
	          &:hover {
	            div {
	              span {
	                bottom: 40px;
	              }
	            }
	          }
	        }
	      }
	    }
	    .more-btn {
	    	width: 120px;
	    	height: 34px;
	    	line-height: 34px;
	    	font-size: 14px;
	    }
	  }
	}
}

